# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.vsidx
*.ipch
Solar System/.vs/Solar System/v17/.suo
Solar System/.vs/Solar System/v17/Browse.VC.db
Solar System/.vs/Solar System/v17/Browse.VC.db-shm
Solar System/.vs/Solar System/v17/Browse.VC.db-wal
Solar System/.vs/Solar System/v17/Browse.VC.opendb
Solar System/.vs/Solar System/v17/DocumentLayout.json
Solar System/.vs/Solar System/v17/fileList.bin
Solar System/.vs/Solar System/v17/Solution.VC.db
